.shop-cold{
    padding: 50px;
}

.shop-header{
    margin-bottom: 40px;
    color: #FF6524;
    position: relative;
}

.cold-card-container{
    max-height: 400px;  
    overflow-y: auto;  
    overflow-x: hidden; 
}

.cold-card-container::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

.cold-card-container::-webkit-scrollbar-track {
    background: #fdd1beb6; /* Light background for the track */
    border-radius: 10px;
}

.cold-card-container::-webkit-scrollbar-thumb {
    background: #fc6626b6; /* Orange color */
    border-radius: 10px;
}

.cold-card-container::-webkit-scrollbar-thumb:hover {
    background: #fe5a13db; 
    cursor: pointer;
}

.ul-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.combo-item-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shop-header .shop-header-para{
    color: rgb(84, 83, 83);
    margin-bottom: 20px;
}

.bottom-line{
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgba(113, 113, 113, 0.803);
}
