.shop-heading{
    font-weight: 650;
    font-size: 40px;
    margin-left: 5%;
    color: rgb(83, 83, 83);
    width: fit-content;
}

.shop-heading{
    transition: scale 0.3s;
}


.shop-heading:hover{
    cursor: pointer;
    scale: 1.1;
}